
:root {
    --HiPeach-theme-op: #4259ef23;
    --HiPeach-gray-op: #9999992b;
    --HiPeach-theme-top: var(--HiPeach-theme);
    --HiPeach-white: #fff;
    --HiPeach-white-op: rgba(255, 255, 255, 0.2);
    --HiPeach-black: #000;
    --HiPeach-black-op: rgba(0, 0, 0, 0.2);
    --HiPeach-none: rgba(0, 0, 0, 0);
    --HiPeach-gray: rgb(50, 50, 50);
    --HiPeach-yellow: #ffc93e;
    --HiPeach-border-radius: 8px;
    --HiPeach-main: var(--HiPeach-theme);
    --HiPeach-main-op: var(--HiPeach-theme-op);
    --HiPeach-theme-op-deep: rgba(0, 132, 255, 0.867);
    --HiPeach-main-op-deep: var(--HiPeach-theme-op-deep) !important;
    --HiPeach-shadow-theme: 0 8px 12px -3px var(--HiPeach-theme-op);
    --HiPeach-shadow-main: 0 8px 12px -3px var(--HiPeach-main-op);
    --HiPeach-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
    --HiPeach-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
    --HiPeach-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
    --HiPeach-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
    --HiPeach-shadow-red: 0 8px 12px -3px #ee7d7936;
    --HiPeach-shadow-green: 0 8px 12px -3px #87ee7936;
    --HiPeach-shadow-border: 0 8px 16px -4px #2c2d300c;
    --HiPeach-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
    --HiPeach-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
    --style-border: 1px solid var(--HiPeach-card-border);
    --HiPeach-blue-main: #3b70fc;
    --style-border-hover: 1px solid var(--HiPeach-main);
    --style-border-dashed: 1px dashed var(--HiPeach-theme-op);
    --style-border-avatar: 4px solid var(--HiPeach-background);
    --style-border-always: 1px solid var(--HiPeach-card-border);
    --HiPeach-white-acrylic1: #fefeff !important;
    --HiPeach-white-acrylic2: #fcfdff !important;
    --HiPeach-black-acrylic2: #08080a !important;
    --HiPeach-black-acrylic1: #0b0b0e !important;
    --HiPeach-main-none: #b8b8b800 !important;
    --HiPeach-transparent-border: transparent;
    --btn-bg: #005ffe;
    --btn-hover-color: #0047d4;
    --HiPeach-footer-bg: transparent;
    --HiPeach-footer-secondbg: transparent;
    --HiPeach-footer-titlecolor: #6f71d3;
    --HiPeach-footer-fontcolor: #af80e4de;
    --HiPeach-footer-linkbg: #363636;
    --HiPeach-footer-linkcolor: #af80e4;
    --HiPeach-footer-hoverlinkbg: #6f71d3;
    --HiPeach-footer-hoverlinkcolor: #fff;
    --HiPeach-footer-hoverfontcolor: #5a87ff;
    --HiPeach-footer-hovertitlecolor: #af80e4;
    --HiPeach-white-top: rgb(238, 238, 238);
    --HiPeach-float-win-bg: whitesmoke;
    --HiPeach-globle-font: black;
    --HiPeach-button-dark-hover: #0084ff;
    --HiPeach-button-dark-bg: #66ccff;
    --HiPeach-button-font: white;
    --HiPeach-button-shadow: hsla(0, 0%, 22%, 0.2);
    --HiPeach-radius: 7px;
    --HiPeach-card-border-width: 1px;
}

[data-theme="light"] {
    --HiPeach-theme: #3b70fc;
    --HiPeach-theme-op: #4259ef23;
    --HiPeach-red: #d8213c;
    --HiPeach-pink: #ff7c7c;
    --HiPeach-green: #57bd6a;
    --HiPeach-fontcolor: #363636;
    --HiPeach-background: #f7f9fe;
    --HiPeach-reverse: #000;
    --HiPeach-maskbg: rgba(255, 255, 255, 0.6);
    --HiPeach-maskbgdeep: rgba(255, 255, 255, 0.85);
    --HiPeach-hovertext: var(--HiPeach-theme);
    --HiPeach-ahoverbg: #f7f7fa;
    --HiPeach-lighttext: #6f42c1;
    --HiPeach-secondtext: rgba(60, 60, 67, 0.6);
    --HiPeach-scrollbar: rgba(60, 60, 67, 0.4);
    --HiPeach-card-btn-bg: #edf0f7;
    --HiPeach-post-blockquote-bg: #fafcff;
    --HiPeach-post-tabs-bg: #f2f5f8;
    --HiPeach-secondbg: #edf0f7;
    --HiPeach-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --HiPeach-card-bg: #fff;
    --HiPeach-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --HiPeach-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --HiPeach-code-bg: #3b70fc;
    --HiPeach-code-color: #f7f7fa;
    --HiPeach-copyright-border: #f6f6f6;
    --HiPeach-border-color: #e3e8f7;
    --HiPeach-card-border: #e3e8f7;
    --style-border-always: 1px solid var(--HiPeach-card-border);
    --HiPeach-blue: #425AEF;
    --HiPeach-filter: brightness(100%);

}

[data-theme="dark"] {
    --global-bg: #191919;
    --HiPeach-theme: #0084ff;
    --HiPeach-theme-op: #0084ff23;
    --HiPeach-red: #ff3842;
    --HiPeach-pink: #ff7c7c;
    --HiPeach-green: #57bd6a;
    --HiPeach-fontcolor: rgb(225, 225, 225);
    --HiPeach-background: #18171d;
    --HiPeach-reverse: #fff;
    --HiPeach-maskbg: rgba(0, 0, 0, 0.6);
    --HiPeach-maskbgdeep: rgba(0, 0, 0, 0.85);
    --HiPeach-hovertext: #0a84ff;
    --HiPeach-ahoverbg: #fff;
    --HiPeach-lighttext: #f2b94b;
    --HiPeach-secondtext: #a1a2b8;
    --HiPeach-scrollbar: rgba(200, 200, 223, 0.4);
    --HiPeach-card-btn-bg: #30343f;
    --HiPeach-post-blockquote-bg: #000;
    --HiPeach-post-tabs-bg: #121212;
    --HiPeach-secondbg: #30343f;
    --HiPeach-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --HiPeach-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --HiPeach-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --HiPeach-card-border: #42444a;
    --HiPeach-code-bg: #30343f;
    --HiPeach-code-color: #f2b94b;
    --HiPeach-copyright-border: #212121;
    --HiPeach-float-win-bg: #141414;
    --HiPeach-globle-font: white;
    --HiPeach-button-dark-hover: #49505d;
    --HiPeach-button-dark-bg: #1f1f1f;
    --HiPeach-button-font: #66ccff;
    --HiPeach-button-shadow: #212121;
    --HiPeach-border-color: #42444a;
    --HiPeach-card-bg: #1d1b26;
    --style-border-always: 1px solid var(--HiPeach-card-border);
    --HiPeach-blue: #0084FF;
    --HiPeach-filter: brightness(80%);
}

/* 文章序号美化 */
#article-container li::marker {
    font-weight: 600;
    font-size: 1.2em;
}

/* 侧边栏卡片按钮圆角化 */
#aside-content .card-info #card-info-btn {
    border-radius: 35px;
}


/* 文章卡片擦亮动画 */
#recent-posts > .recent-post-item .post_cover {
    position: relative;
}

#recent-posts > .recent-post-item .post_cover::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    content: '';
    -webkit-transition: -webkit-transform .6s;
    -moz-transition: -moz-transform .6s;
    -o-transition: -o-transform .6s;
    -ms-transition: -ms-transform .6s;
    transition: transform .6s;
    -webkit-transform: scale3d(2, 1, 1) rotate(60deg) translate3d(15%, -150%, 0);
    -moz-transform: scale3d(2, 1, 1) rotate(60deg) translate3d(15%, -150%, 0);
    -o-transform: scale3d(2, 1, 1) rotate(60deg) translate3d(15%, -150%, 0);
    -ms-transform: scale3d(2, 1, 1) rotate(60deg) translate3d(15%, -150%, 0);
    transform: scale3d(2, 1, 1) rotate(60deg) translate3d(15%, -150%, 0);
}

#recent-posts > .recent-post-item .post_cover:hover::after {
    -webkit-transform: scale3d(2, 1, 1) rotate(60deg) translate3d(0, 130%, 0);
    -moz-transform: scale3d(2, 1, 1) rotate(60deg) translate3d(0, 130%, 0);
    -o-transform: scale3d(2, 1, 1) rotate(60deg) translate3d(0, 130%, 0);
    -ms-transform: scale3d(2, 1, 1) rotate(60deg) translate3d(0, 130%, 0);
    transform: scale3d(2, 1, 1) rotate(60deg) translate3d(0, 130%, 0);
}



