/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '可以通过昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 14px 18px;
    background: #444;
    color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}

#post-comment .comment-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#post-comment .comment-privacy a {
    color: var(--font-color);
}

#post-comment .comment-privacy a:hover {
    color: #409eff;
}

#post-comment .comment-headline {
    display: flex;
    align-items: center;
}

#post-comment .comment-headline > i {
    padding: 0 0 0 6px;
    font-size: 1em;
}

blockquote > :last-child {
    margin: auto !important;
}

.el-input--small .el-input__inner {
    height: 40px !important;
}

.el-input-group__prepend {
    border-radius: 8px 0 0 8px !important;
}

.el-input__inner {
    border-radius: 0 8px 8px 0 !important;
}

.el-textarea__inner {
    border-radius: 8px !important;
}

.el-textarea > textarea {
    height: 120px !important;
}

.el-button--small {
    border-radius: 4px !important;
}

/* 评论编辑块调整 */

.tk-submit-action-icon.__markdown {
    display: none;
}

/* markdown编辑快隐藏 */

.tk-avatar {
    border-radius: 4px !important;
}

.tk-comment .tk-submit .tk-avatar, .tk-replies .tk-avatar {
    height: 2.5rem !important;
    width: 2.5rem !important;
}

.tk-comment .tk-submit .tk-avatar .tk-avatar-img, .tk-replies .tk-avatar .tk-avatar-img {
    height: 2.5rem !important;
}

.tk-ruser {
    color: #409eff;
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .tk-comment .tk-submit .tk-avatar, .tk-replies .tk-avatar {
        height: 2rem !important;
        width: 2rem !important;
    }

    .tk-comment .tk-submit .tk-avatar .tk-avatar-img, .tk-replies .tk-avatar .tk-avatar-img {
        height: 2rem !important;
    }
}

.tk-nick,
.tk-meta a strong {
    font-size: 18px;
    color: #409eff;
}

.tk-tag-green {
    border: var(--style-border) !important;
    border-radius: 4px !important;
    margin-left: 0.2rem;
}

.tk-time {
    margin-left: 0.4rem;
}

.tk-extras {
    padding-bottom: 15px;
    border-bottom: 1px dashed var(--hr-border);
}

.tk-extra {
    border: var(--style-border-always);
    padding: 4px 6px 4px 6px;
    border-radius: 8px;
    margin-right: 4px !important;
}

.tk-expand {
    margin-top: 8px;
    background-color: var(--HiPeach-background);
    color: var(--HiPeach-fontcolor);
    border-radius: 8px;
    border: var(--style-border);
}

.tk-footer {
    padding-bottom: 1em;
}

.tk-footer a {
    color: #999999;
}

.tk-footer a:hover {
    color: #409eff;
}

.tk-admin-comment-item {
    padding: 1em;
    background: var(--global-bg);
    border-radius: 12px;
    border: var(--style-border-always);
    margin-bottom: 12px;
}

.tk-admin-comment-meta,
.tk-content {
    color: var(--HiPeach-fontcolor);
}

.tk-admin-actions {
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
}

/* 评论管理 */

.tk-panel {
    border: var(--style-border-always);
}

.tk-admin-config-groups {
    padding: 0.5em;
    background: var(--global-bg);
    border-radius: 12px;
    border: var(--style-border-always);
}

.tk-admin-config-groups .tk-admin-config-group-title {
    background: var(--HiPeach-background) !important;
    border-radius: 6px;
    border: var(--style-border-always);
    color: var(--HiPeach-fontcolor);
}

.tk-admin-config-item {
    color: var(--HiPeach-fontcolor);
}

/* 配置管理 */

/* 评论区样式 */


#owo-big {
    position: fixed;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px #aaa solid;
    border-radius: 10px;
    z-index: 9999;
    display: none;
    transform: translate(0, -105%);
    overflow: hidden;
    animation: owoIn 0.3s cubic-bezier(0.42, 0, 0.3, 1.11);
}

[data-theme=dark] #owo-big {
    background-color: #4a4a4a
}

#owo-big img {
    width: 100%;
}

/* 动画效果代码由 Heo：https://blog.zhheo.com/ 提供 */
@keyframes owoIn {
    0% {
        transform: translate(0, -95%);
        opacity: 0;
    }
    100% {
        transform: translate(0, -105%);
        opacity: 1;
    }
}

/*表情放大*/